name: Go CI/CD

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      # 1️⃣ Checkout repository
      - name: Checkout code
        uses: actions/checkout@v3

      # 2️⃣ Set up Go
      - name: Set up Go
        uses: actions/setup-go@v4
        with:
          go-version: 1.25

      # 3️⃣ Install dependencies
      - name: Download Go modules
        run: go mod download
        
      # 6️⃣ Build Go binary
      - name: Build Go binary
        run: go build -o bot ./cmd/bot

      # 7️⃣ Build Docker image
      - name: Build Docker image
        run: docker build -t tg-audio-bot .