name: CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build-and-lint:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Go
        uses: actions/setup-go@v4
        with:
          go-version: "1.25"
          cache: true

      - name: Download Go modules
        run: go mod download

      - name: Run golangci-lint
        uses: golangci/golangci-lint-action@v5
        with:
          version: v2.7.2

      - name: Build Go binary
        run: go build -o bot ./cmd/bot