name: CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build-and-lint:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Go
        uses: actions/setup-go@v4
        with:
          go-version: "1.25"
          cache: true

      - name: Download Go modules
        run: go mod download

      - name: Tidy dependencies
        run: go mod tidy

      - name: Install and run golangci-lint v2.7.2
        run: |
          curl -sSfL https://raw.githubusercontent.com/golangci/golangci-lint/master/install.sh | sh -s -- -b $(go env GOPATH)/bin v2.7.2
          golangci-lint run

      - name: Build Go binary
        run: go build -o bot ./cmd/bot